@model IEnumerable<ViewIssueModel>
@{
    ViewData["Title"] = "Car Issues ";
}
@*<div class="button-group" role="group" aria-label="Button group with nested dropdown">
    <a href="/Cars/MyCars" class="btn btn-info text-uppercase">Back to Garage</a>

    </div>*@

<section class="py-2">
    <div class="container">
        <div style="padding: 2px;">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Manifacture</th>
                        <th scope="col">Model</th>
                        <th scope="col">Car Year</th>
                        <th scope="col">Car Color</th>
                        <th scope="col">CarOdometer</th>                       
                        <th scope="col"></th>
                    </tr>
                </thead>

                @foreach (var issue in Model)
                {
                    <tbody>
                        <tr>
                            <th scope="row">@issue.Car.Manifacture</th>
                            <th scope="row">@issue.Car.Model</th>  
                            <td>@issue.Car.Year</td>
                            <td>@issue.Car.Color</td>
                            <td>@issue.CarOdometer km</td>                            
                            <td>

                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="@($"#A{issue.Car.Vin}")">
                                    More Info
                                </button>
                                <!-- Modal -->
                            <div class="modal fade" id="@($"A{issue.Car.Vin}")" tabindex="-1" role="dialog" aria-labelledby="ModalTitle" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="ModalTitle">Information</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">SubmitionDate: @issue.SubmitionDate</div>
                                                <p></p>
                                                 <div class="row">Description:   @issue.Description </div>
                                                 <p></p>
                                                 <div class="row">VIN : @issue.Car.Vin</div>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="button-holder">
                                                    <a href="/AutoShop/AddOffer?issueId=@issue.Id" class="btn btn-info text-uppercase">Add offer</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                }
            </table>

        </div>
    </div>

</section>
