@{
    ViewData["Title"] = "My Cars ";
}

<section class="py-5">
    <div class="container">
        <div style="padding: 5px;">
            <div class="card-body table-responsive p-0" style="height: 500px;">
                <table class="table table-head-fixed text-nowrap pace-progress-color-blue">
                    <thead class="sidebar-dark-gray">
                        <tr>
                            <th scope="col">Manifacture</th>
                            <th scope="col">Model</th>
                            <th scope="col">VIN</th>
                            <th scope="col">Year</th>
                            <th scope="col">Color</th>                           
                            <th scope="col"></th>
                        </tr>
                    </thead>

                    @foreach (var car in Model)
                    {
                        <tbody>
                            <tr>
                                <th scope="row">@car.Manifacture</th>
                                <td>@car.Model</td>
                                <td>@car.Vin</td>
                                <td>@car.Year</td>
                                <td>@car.Color</td>
                                <td>
                                    <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="@($"#A{car.Id}")">
                                        Options
                                    </button>

                                    <!-- Modal -->
                                <div class="modal fade" id="@($"A{car.Id}")" tabindex="-1" role="dialog" aria-labelledby="ModalTitle" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="ModalTitle">Options</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>                                               
                                                <div class="modal-footer">
                                                    <div class="button-holder">
                                                        <a href="/Cars/Issues?carId=@car.Id" class="btn btn-info text-uppercase">Issues</a>
                                                    </div>                                                   
                                                    <div class="button-holder">
                                                        <a href="/Cars/Orders?carId=@car.Id" class="btn btn-info text-uppercase">Orders</a>
                                                    </div>
                                                    <div class="button-holder">
                                                        <a href="/Cars/AddIssue?carId=@car.Id" class="btn btn-info text-uppercase">Add Issue</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </td>
                            </tr>

                        </tbody>
                    }

                </table>
            </div>
        </div>
    </div>
</section>

                              